In [1]:
import pandas as pd
import numpy as np

In [2]:
covid=pd.read_csv('covid19data1.csv')

In [3]:
covid.head()

      Chart      Unnamed: 1  Unnamed: 2
0  Category  Confirmed case         NaN
1  44258.00             614         4.0
2  44259.00             619         4.0
3  44260.00             635         5.0
4  44261.00             540         4.0

In [5]:
covid=covid.drop([0],axis=0)

In [6]:
covid.head()

      Chart Unnamed: 1  Unnamed: 2
1  44258.00        614         4.0
2  44259.00        619         4.0
3  44260.00        635         5.0
4  44261.00        540         4.0
5  44262.00        606         4.0

In [7]:
covid.columns = ['date','confirmed','rate']

In [8]:
covid.head()

       date confirmed  rate
1  44258.00       614   4.0
2  44259.00       619   4.0
3  44260.00       635   5.0
4  44261.00       540   4.0
5  44262.00       606   4.0

In [9]:
x=np.array(covid['date'])
y=np.array(covid['confirmed'])

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [16]:
from sklearn.ensemble import RandomForestRegressor

In [17]:
rf=RandomForestRegressor()

In [18]:
rf.fit(x.reshape(-1,1),y.reshape(-1,1))

<ipython-input-18-14f231134c69>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x.reshape(-1,1),y.reshape(-1,1))

RandomForestRegressor()

In [22]:
rf.predict([[44284]])

array([4796.98])